.tableContainer {
    .itemsListContainer {
        background-color: black;
        color: white;
    }

    .paginationContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.detailHeader {
    .headerRow {
        display: flex;
        justify-content: space-between;

        .rightHeaders {
            display: flex;

            .facebookIcon {
                height: 40px;
                margin-right: 10px;
            }
        }
    }
}