.tableContainer {
    .itemsListContainer {
        background-color: black;
        color: white;
    }

    .paginationContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}