body {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.search-table-header {
    display: flex;
    align-items: center;

    .ebay-logo {
        height: 90px;
    }

    .shopping-text {
        font-size: 38px;
        font-weight: bold;
        margin: 0px;
    }
}

.form-table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px;
    width: 500px;

    .form-table-row {
        border: 1px solid black;

        .form-table-data {
            text-align: center;
            padding: 6px 10px;

            .required {
                color: red;
            }

            .data-label {
                font-weight: bold;
            }
        }
    }
}


input[type="text"], 
input[type="number"],
select {
    min-width: 20px;
    box-sizing: border-box;
    margin: 0;
    vertical-align: middle;
    height: 22px;
}

input[type="number"] {
    width: 70px;
    margin: 0px 10px;
}

button {
    border: 0;
    background-color: lightgray;
    border-radius: 4px;
    padding: 4px;
}

button:hover {
    background-color: rgb(55, 205, 55);
    color: white;
}

select {
    text-align: center;
    text-align-last: center;
    background: white;
}

.items-header {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .horizontal-line {
        width: 100%;
        border-bottom: 2px solid lightgray;
        margin: 10px;
    }
    
    .card {
        display: flex;
        align-items: center;
        border: 2px solid lightgray;
        padding: 15px;
        padding: 0px;
        margin: 1px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        background: #d3d3d35e;
        height: 150px;
        width: 800px;

        .card-content {
            flex: 1;
            gap: 13px;
            display: flex;
            flex-direction: column;
            width: 600px;
    
            .card-title {
                font-size: 16px;
                font-weight: bold;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .card-body {
                font-size: 15px;
                display: flex;
                align-items: center;
        
                .redirect-img {
                    height: 15px;
                    width: auto;
                    margin-left: 5px;
                }
        
                .top-rated-img {
                    height: 30px;
                    width: auto;
                    padding-left: 10px;
                    vertical-align: middle;
                }
            }
        }
    }

    .card:hover {
        box-shadow: 4px 4px 10px gray;
    }

    .card-img-container {
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;

        .card-img {
            height: 80px;
            max-width: 100px;
            transition: transform 0.3s ease;
            border: 2px solid lightgray;
        }

        .card-img:hover {
            transform: scale(2);
        }
    }
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .back-to-results{
        margin: 10px;
    }

    .item-detail-table {
        border-collapse: collapse;
    
        .item-table-key {
            font-weight: bold;
            border: 1px solid lightgrey;
            border-collapse: collapse;
            padding: 2px 8px;
        }
    
        .item-table-value {
            border: 1px solid lightgrey;
            border-collapse: collapse;
            padding: 2px 8px;

            .item-img {
                height: 150px;
                width: auto;
            }
        }
    }
}

.hidden {
    display: none;
}

#show-more-button {
    margin: 5px;
}





