.topContainer {
    max-width: 1100px;
    margin: 40px auto;
    
    .productSearch {
        background-color: black;
        color: white;
        padding: 20px;
    
        .container {
            max-width: 800px;
        }
    }
}
  
h2 {
    margin-bottom: 20px;
}

.form-text {
color: red;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
}

.actionButtons {
    display: flex !important;
    text-align: center !important;
}

.btn:hover {
    background-color: gray,
}

.conditions {
    display: flex;
    gap: 10px;
}

.tabsSection {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
